  {{#if posts.length}}
  <div class="col-md-6 post-list">
    <h2 style="text-align: center; font-size: xx-large;">My Posts</h2>

    {{#each posts as |post|}}
<div data-id="{{post.id}}" class="row mb-4 project posts">
      <div class="col-md-8" style="background-color: black; padding-left: 20px;">
        <h4 style="background-color: black;"><a href="/post/{{post.id}}">{{post.title}}</a></h4>
          <p>{{post.contents}}</p>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>