:root {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

.header {
    background-color: black;
}

.site-title {
    color: crimson;
    text-align: center;
    padding: 10px;
    font-size: 50px;
}

.navBar {
    font-weight: bold;
    color: white;
    padding: 30px;
    padding-left: 10px;
}

.navBar a:visited {
    color: white;
    text-decoration: none;
}

.navBar a:link {
    text-decoration: none;
    color: white;
    padding: 20px;
    background-color: grey;
    margin:5px;
}

.navBar a:hover {
    background-color: crimson ;
    border: 3px solid white;
    color: white;
}

.posts {
    border: 1px solid white;
    margin: 30px;
    display: grid;
    background-color: grey ;
    color: white;
}

.title-contribution {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding-right: 15px;
    padding-left: 15px;
}

.title-contribution a:link {
    text-decoration: none;
    color: white;
}

.title-contribution a:visited {
    color: white;
}

.blog-title {
    border: 1px solid black;
    color: crimson;
}

.blog-title a:link {
    color: crimson;
}

.blog-title a:visited {
    color: crimson;
}

.contribution {
    border: 1px solid black;
    display: grid;
}

.post-contents-home {
    padding-left: 15px;
}

.profile-page {
    /* background-color: grey; */
}

.profile-container {
    padding-left: 10px;
}

.welcome {
    font-size: x-large;
    padding-left: 10px;
}

.name {
    color: crimson;
}

form {
    margin-bottom: 10px;
}

.form-contents {
    display: flex;
}

.label-container {
    width: 155px;
}

#post-contents {
    margin: 0;
    width: 500px;
    height: 100px;
}

label.contents {
    margin-bottom: 20px;
}

label {
    display: inline-block;
    width: 150px;
}

.form-group {
    padding: 10px;
}

.post-list a:link {
    text-decoration: none;
    color: crimson;
}

.post-list a:visited {
    color: crimson;
}

@media screen and (max-width: 768px) {
    .navBar {
        font-weight: bold;
        color: white;
        padding: 30px;
        padding-left: 10px;
        display: grid;
        text-align: center;
        width: 90vw;
    }
    
    .navBar a:visited {
        color: white;
        text-decoration: none;
    }
    
    .navBar a:link {
        text-decoration: none;
        color: white;
        padding: 20px;
        background-color: grey;
        margin:5px;
    }
    
    .navBar a:hover {
        background-color: crimson ;
        border: 3px solid white;
        color: white;
    }
    .form-contents {
        display: grid;
    }
    #post-contents {
        height: 20vh;
        width: 85vw;
    }
    #post-title {
        margin-bottom: 20px;
    }
}
